<div class="box">
<h2 class="H1">User Login</h2>
<form #LoginForm="ngForm" (ngSubmit)="LoginUser(LoginForm.value)" >
  <div>
  <label for="name">Name </label>
  <input type="text" name="name" placeholder="Enter Name" ngModel>
  <br> <br>
  <label for="name">Password </label>
  <input type="password" name="password" placeholder="Enter password" ngModel>
  <br> <br>
  <button>Login</button>
</div>
</form>
</div>


<h2 class="H2">Admin link</h2>
<ul class="links">
  <li><a routerLink="admin/login">Login</a></li>
  <li><a routerLink="admin/list">List</a></li>
</ul>
<router-outlet></router-outlet>