<div>
<h2>User Login</h2>
<form #LoginForm="ngForm" (ngSubmit)="getuserdata(LoginForm.value)" >
  <div>
  <label for="name" >Email </label>
  <input type="email" name="Email" placeholder="Enter Email" ngModel>
  <br> <br>
  <label for="name">Password </label>
  <input type="password" name="password" placeholder="Enter password" ngModel>
  <br> <br>
  <button (click)="login()" ><a routerLink="admin/list">Login</a></button>
</div>
</form>
</div>


<!-- <h2>Admin link</h2>
<ul class="links">
  <li><a routerLink="admin/login">Login</a></li>
  <li><a routerLink="admin/list">List</a></li>
</ul> -->
<router-outlet></router-outlet>